@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Zilla+Slab&display=swap');

@import "variables";

@import "nav";
@import "footer";
@import "home";
@import "about";
@import "report";
@import "lucky";
@import "pig";
@import "flash";
@import "card";
@import "api";
@import "doc";
@import "blackJack";
@import "library";
@import "metrics";

body, html {
    background-color: $background-color;
}

.main, .aside {
    margin: 0 auto;
    padding: 2rem;
    min-height: 525px;

    text-align: center;

    background-color: #333;
    color: white;
}