{% extends "base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}


    <div class="two-split-layout">
        <aside class="aside project-aside">
            {% include "proj/nav.html.twig" %}
        </aside>

        <main class="main project-main">
            <h1>Project</h1>
        </main>

    </div>



{% endblock %}