<aside class="aside project-aside">

<ul>
    <li><a href="{{ path('project') }}">Home</a></li>
    <li><a href="{{ path('project_game')}}">Poker</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Rules</a></li>
</ul>

</aside>