<aside class="aside project-aside">

<ul>
    <li><a href="{{ path('project_game')}}">Black Jack</a></li>
    <li><a href="{{ path('project_about')}}">About</a></li>
    <li><a href="{{ path('project_rules')}}">Rules</a></li>
    <li><a href="{{ path('project_api')}}">Api</a></li>
</ul>

</aside>