{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}

<main class="main card-deck">
        <h1>Deck</h1>

    <div class="card-wrapper">
        {% for card in deck %}
        <div class="card-item {{card.getType()}}">
            {{card.getAsString() }}
        </div>
        {% endfor %}
    </div>


</main>

{% endblock %}