{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}

<main class="main card">
    <h1>Deck</h1>

    {% for card in deck %}
    <div class="card-container">
        {{card.getAsString() }}
    </div>
    {% endfor %}

</main>

{% endblock %}