{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}

<main class="main card">
    <h1>Draw a card</h1>

    <p>Cards remaining: {{count}}</p>

    <div class="card-wrapper">
        {% for card in cards%}
        <div class="card-item {{card.get_type()}}">
            {{card.getAsString()}}
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}