{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<main class="main library">

        <div class="card-paths">
            <a href="{{ path('app_book_create') }}">Lägg till ny bok</a>
        </div>

</main>

{% endblock %}
