{% extends "base.html.twig" %}

{% block title %} About {% endblock %}

{% block body %}

    <main class="main about">
        <h1>About</h1>
        
        <p>
            Kursen Objektorienterade webbteknologier (mvc) 
            handlar om objektorienterad PHP med ramverk, 
            enhetstestning, kodkvalitet och databaskopplingar. <br>
            Syftet med kursen är att lära ut objektorienterade webbteknologier.
        </p>

        <a href="https://github.com/dbwebb-se/mvc">Kursrepo</a>
        <a href="https://github.com/mapg23/mvc/tree/main">Repo för denna sidan</a>

    </main>

{% endblock %}