{% extends "base.html.twig" %}

{% block title %} Api {% endblock %}

{% block body %}

    <main class="main api">

        <h3>JSON Routes</h3>
    
        <a href="{{ path('quote') }}">api/quotes</a>
    </main>

{% endblock %}