{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}

    <main class="main home">

        <img src="{{ asset('img/profile.jpeg')}}" alt="Profile picture">

        <p>
            Jag heter Marcus Pettersson och är student på bth. <br> 
            Jag studerar för att bli web programmerare. <br>
            Denna sidan är för kursen mvc som jag går.
        </p>

    </main>

{% endblock %}