{% extends "base.html.twig" %}

{% block title %} Lucky {% endblock %}

{% block body %}

    <main class="main lucky">

        <p> Your lucky number is : {{number}} </p>

        <img src="{{ asset('img/smiley.jpeg')}}" alt="Smiley" class="lucky-image">
        <img src="{{ asset('img/upside-down-smiley.png')}}" alt="Smiley Upside down" class="lucky-image">

    </main>

{% endblock %}