{% extends "base.html.twig" %}

{% block title %} Session {% endblock %}

{% block body %}

    <main class="main home">

        <pre>
            {% for items in session %}
                {{ dump(items) }}
            {% endfor%}
        </pre>

        {{ include('flash.html.twig') }}

    </main>

{% endblock %}